<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.PetShop.dao.BrowseMapper">
  <resultMap id="BaseResultMap" type="com.song.PetShop.bean.Browse">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="temp1" jdbcType="VARCHAR" property="temp1" />
    <result column="temp2" jdbcType="VARCHAR" property="temp2" />
    <result column="temp3" jdbcType="VARCHAR" property="temp3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bid, uid, cid, temp1, temp2, temp3
  </sql>
  <select id="selectByExample" parameterType="com.song.PetShop.bean.BrowseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from browse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from browse
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from browse
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.song.PetShop.bean.BrowseExample">
    delete from browse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.song.PetShop.bean.Browse">
    insert into browse (bid, uid, cid, 
      temp1, temp2, temp3
      )
    values (#{bid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, 
      #{temp1,jdbcType=VARCHAR}, #{temp2,jdbcType=VARCHAR}, #{temp3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.song.PetShop.bean.Browse">
    insert into browse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="temp1 != null">
        temp1,
      </if>
      <if test="temp2 != null">
        temp2,
      </if>
      <if test="temp3 != null">
        temp3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="temp1 != null">
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        #{temp3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.song.PetShop.bean.BrowseExample" resultType="java.lang.Long">
    select count(*) from browse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update browse
    <set>
      <if test="record.bid != null">
        bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.temp1 != null">
        temp1 = #{record.temp1,jdbcType=VARCHAR},
      </if>
      <if test="record.temp2 != null">
        temp2 = #{record.temp2,jdbcType=VARCHAR},
      </if>
      <if test="record.temp3 != null">
        temp3 = #{record.temp3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update browse
    set bid = #{record.bid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      temp1 = #{record.temp1,jdbcType=VARCHAR},
      temp2 = #{record.temp2,jdbcType=VARCHAR},
      temp3 = #{record.temp3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.song.PetShop.bean.Browse">
    update browse
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="temp1 != null">
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        temp3 = #{temp3,jdbcType=VARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.song.PetShop.bean.Browse">
    update browse
    set uid = #{uid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>