<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.PetShop.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.song.PetShop.bean.Orders">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="oaddr" jdbcType="VARCHAR" property="oaddr" />
    <result column="otel" jdbcType="VARCHAR" property="otel" />
    <result column="ordertime" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="delivetime" jdbcType="TIMESTAMP" property="delivetime" />
    <result column="arrivetime" jdbcType="TIMESTAMP" property="arrivetime" />
    <result column="ps" jdbcType="VARCHAR" property="ps" />
    <result column="oprice" jdbcType="DOUBLE" property="oprice" />
    <result column="pstatus" jdbcType="INTEGER" property="pstatus" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="temp1" jdbcType="VARCHAR" property="temp1" />
    <result column="temp2" jdbcType="VARCHAR" property="temp2" />
    <result column="temp3" jdbcType="INTEGER" property="temp3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, uid, cid, oaddr, otel, ordertime, delivetime, arrivetime, ps, oprice, pstatus, 
    status, temp1, temp2, temp3
  </sql>
  <select id="selectByExample" parameterType="com.song.PetShop.bean.OrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.song.PetShop.bean.OrdersExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.song.PetShop.bean.Orders">
    insert into orders (oid, uid, cid, 
      oaddr, otel, ordertime, 
      delivetime, arrivetime, ps, 
      oprice, pstatus, status, 
      temp1, temp2, temp3
      )
    values (#{oid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, 
      #{oaddr,jdbcType=VARCHAR}, #{otel,jdbcType=VARCHAR}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{delivetime,jdbcType=TIMESTAMP}, #{arrivetime,jdbcType=TIMESTAMP}, #{ps,jdbcType=VARCHAR}, 
      #{oprice,jdbcType=DOUBLE}, #{pstatus,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{temp1,jdbcType=VARCHAR}, #{temp2,jdbcType=VARCHAR}, #{temp3,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.song.PetShop.bean.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="oaddr != null">
        oaddr,
      </if>
      <if test="otel != null">
        otel,
      </if>
      <if test="ordertime != null">
        ordertime,
      </if>
      <if test="delivetime != null">
        delivetime,
      </if>
      <if test="arrivetime != null">
        arrivetime,
      </if>
      <if test="ps != null">
        ps,
      </if>
      <if test="oprice != null">
        oprice,
      </if>
      <if test="pstatus != null">
        pstatus,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="temp1 != null">
        temp1,
      </if>
      <if test="temp2 != null">
        temp2,
      </if>
      <if test="temp3 != null">
        temp3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="oaddr != null">
        #{oaddr,jdbcType=VARCHAR},
      </if>
      <if test="otel != null">
        #{otel,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null">
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="delivetime != null">
        #{delivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrivetime != null">
        #{arrivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ps != null">
        #{ps,jdbcType=VARCHAR},
      </if>
      <if test="oprice != null">
        #{oprice,jdbcType=DOUBLE},
      </if>
      <if test="pstatus != null">
        #{pstatus,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="temp1 != null">
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        #{temp3,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.song.PetShop.bean.OrdersExample" resultType="java.lang.Long">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="record.oid != null">
        oid = #{record.oid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.oaddr != null">
        oaddr = #{record.oaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.otel != null">
        otel = #{record.otel,jdbcType=VARCHAR},
      </if>
      <if test="record.ordertime != null">
        ordertime = #{record.ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delivetime != null">
        delivetime = #{record.delivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.arrivetime != null">
        arrivetime = #{record.arrivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ps != null">
        ps = #{record.ps,jdbcType=VARCHAR},
      </if>
      <if test="record.oprice != null">
        oprice = #{record.oprice,jdbcType=DOUBLE},
      </if>
      <if test="record.pstatus != null">
        pstatus = #{record.pstatus,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.temp1 != null">
        temp1 = #{record.temp1,jdbcType=VARCHAR},
      </if>
      <if test="record.temp2 != null">
        temp2 = #{record.temp2,jdbcType=VARCHAR},
      </if>
      <if test="record.temp3 != null">
        temp3 = #{record.temp3,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set oid = #{record.oid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      oaddr = #{record.oaddr,jdbcType=VARCHAR},
      otel = #{record.otel,jdbcType=VARCHAR},
      ordertime = #{record.ordertime,jdbcType=TIMESTAMP},
      delivetime = #{record.delivetime,jdbcType=TIMESTAMP},
      arrivetime = #{record.arrivetime,jdbcType=TIMESTAMP},
      ps = #{record.ps,jdbcType=VARCHAR},
      oprice = #{record.oprice,jdbcType=DOUBLE},
      pstatus = #{record.pstatus,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      temp1 = #{record.temp1,jdbcType=VARCHAR},
      temp2 = #{record.temp2,jdbcType=VARCHAR},
      temp3 = #{record.temp3,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.song.PetShop.bean.Orders">
    update orders
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="oaddr != null">
        oaddr = #{oaddr,jdbcType=VARCHAR},
      </if>
      <if test="otel != null">
        otel = #{otel,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null">
        ordertime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="delivetime != null">
        delivetime = #{delivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrivetime != null">
        arrivetime = #{arrivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ps != null">
        ps = #{ps,jdbcType=VARCHAR},
      </if>
      <if test="oprice != null">
        oprice = #{oprice,jdbcType=DOUBLE},
      </if>
      <if test="pstatus != null">
        pstatus = #{pstatus,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="temp1 != null">
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        temp3 = #{temp3,jdbcType=INTEGER},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.song.PetShop.bean.Orders">
    update orders
    set uid = #{uid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      oaddr = #{oaddr,jdbcType=VARCHAR},
      otel = #{otel,jdbcType=VARCHAR},
      ordertime = #{ordertime,jdbcType=TIMESTAMP},
      delivetime = #{delivetime,jdbcType=TIMESTAMP},
      arrivetime = #{arrivetime,jdbcType=TIMESTAMP},
      ps = #{ps,jdbcType=VARCHAR},
      oprice = #{oprice,jdbcType=DOUBLE},
      pstatus = #{pstatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=INTEGER}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
</mapper>