<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 abt-txt">
						<div class="footer-logo">
							<a href="#"><img src="images/footer-logo.png" alt="Pet Shop" class="img-responsive"></a>
						</div>
						<p>读者会被可读的内容分心， <br class="hidden-xs">这是一个长期存在的事实</p>
						<ul class="contact-list list-unstyled">
							<!-- <li><span class="icon"><i class="fa fa-map-signs" aria-hidden="true"></i></span> No: XXX</li> -->
							<li><a href=""><span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>1250585963@qq.com</a></li>
							<li><a href="#"><span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span> 18359635201 </a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2">
						<h3>信息</h3>
						<ul class="info-list list-unstyled">
							<li><a href="#"><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>宠物收养</a></li>
							<li><a href="#"><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>积极的狗</a></li>
							<li><a href="#"><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>宠物日托</a></li>
							<li><a href="#"><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>狗狗培训</a></li>
							<li><a href="#"><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>宠物帮</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<h3>分享</h3>
						<ul class="insta-list list-unstyled">
							<li><a href="#"><img src="images/img27.jpg" alt="footer-img" class="img-responsive"></a></li>
							<li><a href="#"><img src="images/img28.jpg" alt="footer-img" class="img-responsive"></a></li>
							<li><a href="#"><img src="images/img29.jpg" alt="footer-img" class="img-responsive"></a></li>
							<li><a href="#"><img src="images/img30.jpg" alt="footer-img" class="img-responsive"></a></li>
							<li><a href="#"><img src="images/img31.jpg" alt="footer-img" class="img-responsive"></a></li>
							<li><a href="#"><img src="images/img32.jpg" alt="footer-img" class="img-responsive"></a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<h3>新闻</h3>
						<div class="newsletter">
							<p>各种宠物的新闻， <br class="hidden-xs">敬请收看</p>
							<form class="newsletter-form" action="#">
								<fieldset>
									<input class="form-control" placeholder="Email" type="email">
									<button class="submit-btn round" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</footer>
</body>
</html>