<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录页</title>

<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style_login.css">
<link rel="stylesheet" type="text/css" href="css/weui.min.css">
<!-- 彈框 -->
<link rel="stylesheet" type="text/css" href="css/zzsc.css">
<link rel="stylesheet" type="text/css" href="css/jquery.alertable.css">
<style type="text/css">
	.screenbg{position:fixed;bottom:0;left:0;z-index:-999;overflow:hidden;width:100%;height:100%;min-height:100%;}
	.screenbg ul li{display:block;list-style:none;position:fixed;overflow:hidden;top:0;left:0;width:100%;height:100%;z-index:-1000;float:right;}
	.screenbg ul a{left:0;top:0;width:100%;height:100%;display:inline-block;margin:0;padding:0;cursor:default;}
	.screenbg a img{vertical-align:middle;display:inline;border:none;display:block;list-style:none;position:fixed;overflow:hidden;top:0;left:0;width:100%;height:100%;z-index:-1000;float:right;}
</style>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
$(function(){
	$(".screenbg ul li").each(function(){
		$(this).css("opacity","0");
	});
	$(".screenbg ul li:first").css("opacity","1");
	var index = 0;
	var t;
	var li = $(".screenbg ul li");	
	var number = li.size();
	function change(index){
		li.css("visibility","visible");
		li.eq(index).siblings().animate({opacity:0},3000);
		li.eq(index).animate({opacity:1},3000);
	}
	function show(){
		index = index + 1;
		if(index<=number-1){
			change(index);
		}else{
			index = 0;
			change(index);
		}
	}
	t = setInterval(show,8000);
	//根据窗口宽度生成图片宽度
	var width = $(window).width();
	$(".screenbg ul img").css("width",width+"px");
});
</script>
</head>
<body>


<div class="materialContainer">
	<div class="box">
		<div class="title">登录</div>
		<div class="input">
			<label for="email">邮箱*</label>
			<input type="text" name="email" id="email">
			<span class="spin"></span>
		</div>
		<div class="input">
			<label for="pass">密码*</label>
			<input type="password" name="pass" id="pass">
			<span class="spin"></span>
		</div>
		<div class="button login">
			<button onclick="login()">
				<span>登录</span>
				<i class="fa fa-check"></i>
			</button>
		</div>
		<a href="/forgetpass" class="pass-forgot">找回密码</a>
	</div>

	<div class="overbox" style="height: 580px; overflow: visible;">
		<div class="material-button alt-2">
			<span class="shape"></span>
		</div>
		<div class="title">注册</div>
		<div class="input">
			<label for="regname">昵称*</label>
			<input type="text" name="regname" id="regname">
			<span class="spin"></span>
		</div>
		<div class="input">
			<label for="regemail">邮箱*</label>
			<input type="text" name="regemail" id="regemail">
			<!-- <button style="height: 40px; position: relative;left: 278px;top: -30px; height: 30px; " ><img alt="" src="images/code.png" style="width: auto;height: auto;max-width: 100%;max-height: 100%;"></button> -->
			<input style="width:117px; height:40px; background-color: white; color:#ED2553; font-weight:bold; margin-left: 243px; margin-top: -50px;" type="button" class="weui_btn weui_btn weui_btn_mini weui_btn_primary" value="获取验证码"  onclick="getcode(this)">
			<span class="spin"></span>
		</div>
		<div class="input">
			<label for="regpass">密码*</label>
			<input type="password" name="regpass" id="regpass">
			<span class="spin"></span>
		</div>
		<div class="input">
			<label for="regcode">邮箱验证码*</label>
			<input type="text" name="regcode" id="regcode">
			<span class="spin"></span>
		</div>
		<div class="button">
			<button onclick="reg()">
				<span>注册</span>
			</button>
		</div>
	</div>

</div>
<div class="screenbg">
	<ul>
		<li><a href="javascript:;"><img src="images/img01.jpg"></a></li>
		<li><a href="javascript:;"><img src="images/img50.jpg"></a></li>
	</ul>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>

<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
<!-- 彈框  -->
<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src='js/velocity.min.js'></script>
<script src='js/velocity.ui.min.js'></script>
<script src="js/jquery.alertable.js"></script>
<script type="text/javascript">
function getcode(obj){
	/* 计时 */
    var obj = $(obj);
    obj.attr("disabled","disabled");/*按钮倒计时*/
    var time = 60;
    var set=setInterval(function(){
    obj.val(--time+"(s)");
    }, 1000);/*等待时间*/
    setTimeout(function(){
	obj.attr("disabled",false).val("重新获取验证码");/*倒计时*/
	clearInterval(set);
	}, 60000);
	/* 发送请求 */
	var uemail=$("#regemail").val();
	$.post("getcode",{uemail:uemail},function(result){
		if(result==1){
			$.alertable.alert('发送成功', {
				  show: function() {
					$(this.overlay).velocity('transition.fadeIn');        
					$(this.modal).velocity('transition.flipBounceYIn');
				  },
				  hide: function() {
					$(this.overlay).velocity('transition.fadeOut');
					$(this.modal).velocity('transition.perspectiveUpOut');
				  } 
				});
			clearInterval(set);
			obj.attr("disabled",false).val("获取验证码");/*倒计时*/
		}else{
			$.alertable.alert('发送失败，请检查邮箱是否正确', {
				  show: function() {
					$(this.overlay).velocity('transition.fadeIn');        
					$(this.modal).velocity('transition.flipBounceYIn');
				  },
				  hide: function() {
					$(this.overlay).velocity('transition.fadeOut');
					$(this.modal).velocity('transition.perspectiveUpOut');
				  } 
				});
			clearInterval(set);
			obj.attr("disabled",false).val("重新获取验证码");/*倒计时*/
		}
	})
	
}

function reg(){
	var uname=$("#regname").val();
	var uemail=$("#regemail").val();
	var upass=$("#regpass").val();
	var regcode=$("#regcode").val();
	$.post("reg",{uname:uname,uemail:uemail,upass:upass,regcode:regcode},function(result){
		if(result==2){
			$.alertable.alert('该邮箱已注册', {
				  show: function() {
					$(this.overlay).velocity('transition.fadeIn');        
					$(this.modal).velocity('transition.flipBounceYIn');
				  },
				  hide: function() {
					$(this.overlay).velocity('transition.fadeOut');
					$(this.modal).velocity('transition.perspectiveUpOut');
				  } 
				});
		}else if(result==1){
			$.alertable.alert('注册成功，前往登录', {
				  show: function() {
					$(this.overlay).velocity('transition.fadeIn');        
					$(this.modal).velocity('transition.flipBounceYIn');
				  },
				  hide: function() {
					$(this.overlay).velocity('transition.fadeOut');
					$(this.modal).velocity('transition.perspectiveUpOut');
					window.location.href = "/login";
				  } 
				});
			
		}else if(result==3){
			$.alertable.alert('验证失败，请重新填写验证码', {
				  show: function() {
					$(this.overlay).velocity('transition.fadeIn');        
					$(this.modal).velocity('transition.flipBounceYIn');
				  },
				  hide: function() {
					$(this.overlay).velocity('transition.fadeOut');
					$(this.modal).velocity('transition.perspectiveUpOut');
				  } 
				});
		}else{
			$.alertable.alert('注册失败，请检查', {
				  show: function() {
					$(this.overlay).velocity('transition.fadeIn');        
					$(this.modal).velocity('transition.flipBounceYIn');
				  },
				  hide: function() {
					$(this.overlay).velocity('transition.fadeOut');
					$(this.modal).velocity('transition.perspectiveUpOut');
				  } 
				});
		}
	})
}

function login(){
	var uemail=$("#email").val();
	var upass=$("#pass").val();
	$.post("dologin",{uemail:uemail,upass:upass},function(result){
		if(result==1){
			/* $("#email").attr('value','');
			$("#pass").attr('value',''); */
			window.location.href = "/";
		}else{
			$.alertable.alert('登录失败，请检查是否填写正确', {
				  show: function() {
					$(this.overlay).velocity('transition.fadeIn');        
					$(this.modal).velocity('transition.flipBounceYIn');
				  },
				  hide: function() {
					$(this.overlay).velocity('transition.fadeOut');
					$(this.modal).velocity('transition.perspectiveUpOut');
				  } 
				});
		}
			
	})
}
</script>
</body>
</html>