<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="www.thymeleaf.org">
<head th:include="header::head">
	<!-- <meta charset="UTF-8"> -->
</head>
<body>
	<div id="wrapper">
		<div th:replace="header::#header"></div>
		<main id="main">
			<section class="hero-sec bg-full" style="background-image:url(images/img33.jpg);">
				<div class="caption">
					<h1 class="heading text-center">购物</h1>
				</div>
			</section>
			<section class="shop-sec style1 container">
				<div class="row">
					<div class="col-xs-12">
						<article id="content">
							<div class="product-block">
								<div class="product-col"  th:each="c:${cinfo.list}">
								<div class="img-holder">
									<img th:src="${c.cphoto}" alt="food-img" class="img-responsive">
									<span class="sale-item" th:text="${c.type.tname}">Sale!</span>
									<div class="over-holder">
										<ul class="list-unstyled text-center share-list">
											<li><a th:id="'favo'+${c.cid}" th:onclick="'dofavorite('+${c.cid}+')'"  th:style="${not #lists.isEmpty(c.favorite)}?'background-color: red;'"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
											<!-- <input type="hidden" id="cid" th:value="${c.cid}"> -->
											<!-- <li><a href="#"><i class="icon-refresh"></i></a></li> -->
											<li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="descrip">
									<h3 class="heading2" th:text="${c.cname}">Pawbits Joint</h3> 
									<span class="price" th:text="${c.cprice}">$134.00</span>		
								</div>
								<div class="text-center" style="margin-top: 2px;">
									<a href="cart.html" class="btn-primary lg-round text-uppercase"><i class="icon-cart"></i>添加购物车</a>
								</div>
							</div>
								
							</div>
							<ul class="pagination list-unstyled text-center" th:style="${not #lists.isEmpty(word)}?'display: none;'">
								<li><a th:if="${cinfo.hasPreviousPage}"  th:href="'/shop_'+${tid}+'?page='+${cinfo.prePage}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
								<!-- <li><a href="#">1</a></li>
								<li><a class="active" href="#">2</a></li>
								<li><a href="#">3</a></li> -->
								<!-- 只有一页 -->
								<li  th:if="${cinfo.pages}==1"><a class="active"  href="#" th:text="${cinfo.pageNum}"></a></li>
								<!-- 只有二页 -->
								<li  th:if="${cinfo.pages}==2">
									<a th:class="${cinfo.isFirstPage}==true?'active'"  href="#" th:text="${cinfo.navigateFirstPage}"></a>
								</li>
								<li  th:if="${cinfo.pages}==2">
									<a th:class="${cinfo.isLastPage}==true?'active'"  href="#" th:text="${cinfo.navigateLastPage}"></a>
								</li>
								<!-- 大于二页 -->
								<li  th:if="${cinfo.pages>2 && cinfo.hasPreviousPage}">
									<a href="#" th:text="${cinfo.prePage}"></a>
								</li>
								<li th:if="${cinfo.pages}>2"><a class="active"   href="#" th:text="${cinfo.pageNum}"></a></li>
								<li  th:if="${cinfo.pages>2 && cinfo.hasNextPage}">
									<a  href="#" th:text="${cinfo.nextPage}"></a>
								</li>
								<li><a th:if="${cinfo.hasNextPage}" th:href="'/shop_'+${tid}+'?page='+${cinfo.nextPage}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
							</ul>
							<!-- 搜索的分页 -->
							<ul class="pagination list-unstyled text-center" th:style="${#lists.isEmpty(word)}?'display: none;'">
								<li><a th:if="${cinfo.hasPreviousPage}"  th:href="'/search?page='+${cinfo.prePage}+'&word='+${word}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
								<!-- <li><a href="#">1</a></li>
								<li><a class="active" href="#">2</a></li>
								<li><a href="#">3</a></li> -->
								<!-- 只有一页 -->
								<li  th:if="${cinfo.pages}==1"><a class="active"  href="#" th:text="${cinfo.pageNum}"></a></li>
								<!-- 只有二页 -->
								<li  th:if="${cinfo.pages}==2">
									<a th:class="${cinfo.isFirstPage}==true?'active'"  href="#" th:text="${cinfo.navigateFirstPage}"></a>
								</li>
								<li  th:if="${cinfo.pages}==2">
									<a th:class="${cinfo.isLastPage}==true?'active'"  href="#" th:text="${cinfo.navigateLastPage}"></a>
								</li>
								<!-- 大于二页 -->
								<li  th:if="${cinfo.pages>2 && cinfo.hasPreviousPage}">
									<a href="#" th:text="${cinfo.prePage}"></a>
								</li>
								<li th:if="${cinfo.pages}>2"><a class="active"   href="#" th:text="${cinfo.pageNum}"></a></li>
								<li  th:if="${cinfo.pages>2 && cinfo.hasNextPage}">
									<a  href="#" th:text="${cinfo.nextPage}"></a>
								</li>
								<li><a th:if="${cinfo.hasNextPage}" th:href="'/search?page='+${cinfo.nextPage}+'&word='+${word}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
							</ul>
						</article>
						<aside id="sidebar">
							<section class="widget">
								<h4 style="color: black;">搜索</h4>
								<form class="search-form" action="search">
									<fieldset>
										<input class="form-control" placeholder="请输入关键字......" type="search" name="word">
										<button class="submit-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
									</fieldset>
								</form>
							</section>
							<section class="widget">
								<h4 style="color: black;">筛选</h4>
								<!-- <form action="#" class="filter-ranger-form">
									<div id="slider-range"></div>
									<input type="hidden" id="amount1" name="amount1">
									<input type="hidden" id="amount2" name="amount2">
									<div class="get-results-wrap">
										<a href="#" class="btn btn-default text-uppercase active">全部</a>
										<p id="amount" class="font-lato"></p>
									</div>
								</form> -->
								<div class="get-results-wrap" style="float: left;margin-right: 10px;" th:each="t:${tlist}">
									<a th:href="'/shop_'+${t.tid}" th:text="${t.tname}" th:class="${t.tid}==${tid}?'btn btn-default text-uppercase active':'btn btn-default text-uppercase'">全部</a>
									<p id="amount" class="font-lato"></p>
								</div>
								
							</section>
							<section class="widget">
								<h4 style="color: black;">分类</h4>
								<ul class="list-unstyled category-list">
									<li><a href="/shop_11"><span class="icon fa fa-angle-right"></span>宠物狗</a></li>
									<li><a href="/shop_12"><span class="icon fa fa-angle-right"></span>宠物猫</a></li>
									<li><a href="/shop_13"><span class="icon fa fa-angle-right"></span>宠物用品</a></li>
									<li><a href="/shop_14"><span class="icon fa fa-angle-right"></span>宠物饮食</a></li>
								</ul>
							</section>
							<section class="widget">
								<h4 style="color: black;">特色商品</h4>
								<ul class="list-unstyled feature-list">
									<li th:each="c:${clist2}">
										<div class="img-holder">
											<a href="shop-detail.html"><img class="img-responsive" th:src="${c.cphoto}" alt="image"></a>
										</div>
										<div class="txt-holder">
											<ul class="list-unstyled rating-list">
												<li><a href="#" class="fa fa-star-o" style="color: yellow;"></a></li>
												<li><a href="#" class="fa fa-star-o" style="color: yellow;"></a></li>
												<li><a href="#" class="fa fa-star-o" style="color: yellow;"></a></li>
												<li><a href="#" class="fa fa-star-o" style="color: yellow;"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
											</ul>
											<h3><a href="shop-detail.html" th:text="${c.cname}">Premier Pet+ for Dogs</a></h3>
											<span class="price" th:text="${c.cprice}">$30.00</span>
										</div>
									</li>
									
								</ul>
							</section>
							
						</aside>
					</div>
				</div>
			</section>
			<!-- <section class="callout" style="background-image:url(images/img26.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h2>Get 50% offer for all pet products</h2>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a class="btn-primary text-uppercase text-center lg-round" href="#">coupon code : PETTY1234</a>
						</div>
					</div>
				</div>
			</section> -->
		</main>
		<div th:replace="footer::#footer"></div>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/jquery.main.js"></script>
	<script type="text/javascript">
		function dofavorite(cid){
			var id="#favo"+cid;
			$.post("dofavorite",{cid:cid},function(result){
				if(result==1){
					console.log(cid);
					$(id).attr("style","background-color: red;");
				}else{
					$(id).attr("style","");
				}
			})
		}
	</script>
</body>
</html>
