<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="www.thymeleaf.org">
<head th:include="header::head">
	<!-- <meta charset="UTF-8"> -->
</head>
<body>
	<div id="wrapper">
		<div th:replace="header::#header"></div>
		<main id="main">
			<section class="hero-sec bg-full" style="background-image:url(images/img33.jpg);">
				<div class="caption">
					<h1 class="heading text-center">商品详情</h1>
				</div>
			</section>
			<section class="shop-sec detail-page container">
				<div class="row">
					<div class="col-xs-12">
						<article id="content">
							<div class="holder" th:each="c:${clist}">
								<div class="block">
									<div class="product-slider" >
										<div class="slide" id="wrapper">
											<!-- <img th:src="${c.cphoto}" alt="image" class="img-responsive"> -->
											<div class="jqzoom"><img th:src="${c.cphoto}"  alt="scarpa"  th:jqimg="${c.cphoto2}" class="img-responsive"></div>
											
										</div>
									</div>
									<!-- <ul class="list-unstyled slick-slider pagg-slider">
							            <li><img src="images/img45.jpg" alt="image description"></li>
							        	<li><img src="images/img46.png" alt="image description"></li>
							        </ul> -->
							    </div>
								<div class="text-holder" >
									<h4 th:text="${c.cname}" style="color: black;">Pawbits Joint</h4> 
									<span class="price" th:text="${c.cprice}">$134.00</span>	
									<p th:text="${c.cdescride}">There are many variations of passages of Lorem Ipsum as available, but the majority have suffered alteration in some form, by injected humour, or randomised words which buy don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>	
									<form class="select-form">
										<fieldset>
										    <input class="form-control" type="number" value="1" min="0" max="1000">
										</fieldset>
									</form>
									<a href="cart.html" class="btn-primary lg-round text-uppercase"><i class="icon-cart"></i>添加购物车</a>
									<ul class="list-unstyled text-center share-list">
										<li><a id="favo" th:onclick="'dofavorite('+${c.cid}+')'" th:style="${not #lists.isEmpty(flist)}?'background-color: red;'"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
							<ul class="list-unstyled tabset">
						        <li class="active"><a href="#tab1-0">描述</a></li>
						        <li><a href="#tab2-0">评论</a></li>
						    </ul>
						    <div class="tab-content" th:each="c:${clist}">
						        <div id="tab1-0">
						        	<p th:text="${c.cdescride}">Passages of Lorem Ipsum as available, but the majority have suffered alteration in some form, by injected humour, or randomised words which buy don't look even slightly believable. If you are going to use a passage of need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
						        	<!-- <ul class="list-unstyled">
						        		<li>Suitable for : Pets</li>
						        		<li>Color: Assorted colors, please see available color options</li>
						        		<li>Available Sizes: 5 in, 3.2 in</li>
						        	</ul> -->
						        </div>
						        <div id="tab2-0">
						        	<p>Passages of Lorem Ipsum as available, but the majority have suffered alteration in some form, by injected humour, or randomised words which buy don't look even slightly believable. If you are going to use a passage of need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
						        	<ul class="list-unstyled">
						        		<li>Suitable for : Pets</li>
						        		<li>Color: Assorted colors, please see available color options</li>
						        		<li>Available Sizes: 5 in, 3.2 in</li>
						        	</ul>
						        </div>
						    </div>
							<div class="related-products">
								<h3 class="text-center">相关商品</h3>
								<div class="product-box">
									<div class="product-col" th:each="c:${clist3}">
										<div class="img-holder">
											<img th:src="${c.cphoto}" alt="food-img" class="img-responsive">
											<div class="over-holder">
												<ul class="list-unstyled text-center share-list">
													<li><a th:id="'favo'+${c.cid}" th:onclick="'dofavorite2('+${c.cid}+')'"  th:style="${not #lists.isEmpty(c.favorite)}?'background-color: red;'"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
													<!-- <li><a href="#"><i class="icon-refresh"></i></a></li> -->
													<li><a th:href="'/shopdetail_'+${c.cid}"><i class="fa fa-search" aria-hidden="true"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="descrip">
											<h4 class="heading2" th:text="${c.cname}">Pets Puriest</h4>
											<span class="price" th:text="${c.cprice}"><span class="discount-price" th:text="${c.mprice}">$62.00</span> $58.00</span>
										</div>
										<div class="text-center">
											<a href="cart.html" class="btn-primary lg-round text-uppercase"><i class="icon-cart"></i>添加购物车</a>
										</div>
									</div>
								</div>
							</div>
						</article>
						<aside id="sidebar">
							<section class="widget">
								<h4 style="color: black;">分类</h4>
								<ul class="list-unstyled category-list">
									<li><a href="/shop_11"><span class="icon fa fa-angle-right"></span>宠物狗</a></li>
									<li><a href="/shop_12"><span class="icon fa fa-angle-right"></span>宠物猫</a></li>
									<li><a href="/shop_13"><span class="icon fa fa-angle-right"></span>宠物用品</a></li>
									<li><a href="/shop_14"><span class="icon fa fa-angle-right"></span>宠物饮食</a></li>
								</ul>
							</section>
							<section class="widget">
								<h4 style="color: black;">特色商品</h4>
								<ul class="list-unstyled feature-list">
									<li th:each="c:${clist2}">
										<div class="img-holder">
											<a th:href="'/shopdetail_'+${c.cid}"><img class="img-responsive" th:src="${c.cphoto}" alt="image"></a>
										</div>
										<div class="txt-holder">
											<ul class="list-unstyled rating-list">
												<li><a href="#" class="fa fa-star-o" style="color: yellow;"></a></li>
												<li><a href="#" class="fa fa-star-o" style="color: yellow;"></a></li>
												<li><a href="#" class="fa fa-star-o" style="color: yellow;"></a></li>
												<li><a href="#" class="fa fa-star-o" style="color: yellow;"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
											</ul>
											<h3><a href="shop-detail.html" th:text="${c.cname}">Premier Pet+ for Dogs</a></h3>
											<span class="price" th:text="${c.cprice}">$30.00</span>
										</div>
									</li>
									
								</ul>
							</section>
						</aside>
					</div>
				</div>
			</section>
			<!-- <section class="callout" style="background-image:url(images/img26.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h2>Get 50% offer for all pet products</h2>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a class="btn-primary text-uppercase text-center lg-round" href="#">coupon code : PETTY1234</a>
						</div>
					</div>
				</div>
			</section> -->
		</main>
		<div th:replace="footer::#footer"></div>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/jquery.main.js"></script>
	<script type="text/javascript">
		function dofavorite(cid){
			$.post("dofavorite",{cid:cid},function(result){
				if(result==1){
					console.log(cid);
					$("#favo").attr("style","background-color: red;");
				}else{
					$("#favo").attr("style","");
				}
			})
		}
	</script>
	<script type="text/javascript">
		function dofavorite2(cid){
			var id="#favo"+cid;
			$.post("dofavorite",{cid:cid},function(result){
				if(result==1){
					console.log(cid);
					$(id).attr("style","background-color: red;");
				}else{
					$(id).attr("style","");
				}
			})
		}
	</script>
</body>
</html>
